mixin usercard(user, currentUser)
  .usermanagement-card(data-target=user.name, class="#{currentUser && currentUser == user.name ? 'currentUser disabled' : ''}")
    if user.projects && user.projects != null && user.projects.length != 0
      .usermanagement-card-labels(class="")
        each project in user.projects
          span.usermanagement-card-label(class="#{project.color}", data-target=project.name)
    .usermanagement-card-information
      span.username-title #{user.name}
      input.username-input-field(type="text", value=user.name, data-target=user.name, data-type='user')
    input.password-input-field(type="text", placeholder="change password", data-target=user.name, data-type='user')
    .usermanagement-card-actions-container
      button.edit-user-button.col-md-6.col-sm-6.col-xs-6(data-target=user.role)
        span.edit-card.glyphicon.glyphicon-pencil
      button.delete-user-button.col-md-6.col-sm-6.col-xs-6(data-target=user.name)
        span.edit-card.glyphicon.glyphicon-trash

mixin projectcard(project)
  .projectmanagement-card(data-target=project.name)
    .projectmanagement-card-labels
        span.projectmanagement-card-label(class="#{project.color}", data-title=project.name)
    .projectmanagement-card-information
      .projectmanagement-card-name #{project.name}
      input.project-name-input-field(type="text", value=project.name, data-target=project.name, data-type='project')
      .projectmanagement-card-actions-container
        button.edit-project-button
          span.edit-card.glyphicon.glyphicon-pencil
        button.delete-project-button
          span.edit-card.glyphicon.glyphicon-trash

#usermanagement-container(class="#{open && open === true ? 'open' : ''}")
  .usermanagement-header
    .go-back-wrapper.col-md-6
      span.glyphicon.glyphicon-arrow-left
      span.close-usermanagement Go Back To List View
    .col-md-6
  .usermanagement-wrapper
    if projectManagement
      if projects
        .projectmanagement-list(data-type="projects")
          .projectmanagement-list-header
            span.title Projects
            span.add-new-card.glyphicon.glyphicon-plus(data-target='project')
          .projectmanagement-list-cards
            each project in projects
                +projectcard(project)
      else 
        .projectmanagement-card
          .projectmanagement-card-information
            .projectmanagement-card-name Loading Projects ...

    if addProject
      button.add-project-button
        span.title Add Project
        span.glyphicon.glyphicon-plus

    if roles
      each role in roles
        .usermanagement-list
          .usermanagement-list-wrapper(data-type="role", data-target=role)
            .usermanagement-list-header
              span.title #{role}
              span.add-new-card.glyphicon.glyphicon-plus(data-target='user')
            .usermanagement-list-cards
              if users 
                each user in users
                  if user.role == role
                    +usercard(user, currentUser)
      //-if !userExists
        .usermanagement-list
          .usermanagement-list-wrapper(data-type="role", data-target='user')
            .usermanagement-list-header
              span.title User
              span.add-new-card.glyphicon.glyphicon-plus(data-target='user')
            .usermanagement-list-cards
    else
      .usermanagement-list
        .usermanagement-list-wrapper
          .usermanagement-list-header
            span.title Please Wait ...
            span.add-new-card.glyphicon.glyphicon-add
          .usermanagement-list-cards
            .usermanagement-card
              .usermanagement-card-labels Receiving Data

    if addRoleEnabled
      button.add-role-button
        span.title Add Role
        span.glyphicon.glyphicon-plus

  if exportOfUserManagement
    .usermanagement-action-buttons
      button.usermanagement-export
        span.glyphicon.glyphicon-download
